<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
	
        <!-- Redirect .php URLs to extensionless -->
        <rule name="Redirect PHP to Clean URL" stopProcessing="true">
          <match url="^(.*)\.php$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^(GET|HEAD)$" />
          </conditions>
          <action type="Redirect"
                  url="{R:1}"
                  redirectType="Permanent" />
        </rule>

        <!-- Internally rewrite extensionless URLs to .php -->
        <rule name="Rewrite Clean URL to PHP" stopProcessing="true">
          <match url="^(.+)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{DOCUMENT_ROOT}\{R:1}.php" matchType="IsFile" />
          </conditions>
          <action type="Rewrite"
                  url="{R:1}.php" />
        </rule>




<rule name="HTTP to HTTPS" stopProcessing="true">
    <match url="(.*)" />
    <conditions logicalGrouping="MatchAll">
        <add input="{HTTPS}" pattern="off" />
        <add input="{HTTP_HOST}" pattern="^(localhost|127\.0\.0\.1)(:\d+)?$" negate="true" />
    </conditions>
    <action type="Redirect"
            url="https://{HTTP_HOST}/{R:1}"
            redirectType="Permanent" />
</rule>










      </rules>
    </rewrite>
  </system.webServer>
</configuration>