.contact-opener {
    position: absolute;
    left: -82px;
    transform: rotate(-90deg);
    top: 200px;
    background-color: #4292CF;
    padding: 17px;
    color: #ffff;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
    -moz-box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
    -webkit-box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
}

#contact_form {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 70px;
    margin-bottom: 0px;
    z-index: 999;
}

@media only screen and (min-width: 992px) {
    .contact-opener {
        margin-top: 40px;
    }

    #contact_form {
        margin-top: 200px;
    }
}
/* floating box style */
.floating-form {
    font: 13px Arial, Helvetica, sans-serif;
    background: #F9F9F9;
    border: 1px solid #ddd;
    right: 10px;
    position: fixed;
    box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
    -moz-box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
    -webkit-box-shadow: -2px -0px 8px rgba(43, 33, 33, 0.06);
    z-index: 999;
}

img {
    pointer-events: none;
}

.enquiry-iframe {
    height: 350px !important;
    width: 315px !important;
    border: none;
}

.contactus {
    height: 350px !important;
    width: 100% !important;
    border: none;
}
